@layer utilities {
  .ro-bg-main {
    background-color: var(--ro-bg-main);
  }

  .ro-bg-muted {
    background-color: var(--ro-bg-muted);
  }
  .ro-hover-bg-muted:hover {
    background-color: var(--ro-hover-muted);
  }

  .ro-bg-dim {
    background-color: var(--ro-bg-dim);
  }
  .ro-hover-bg-dim:hover {
    background-color: var(--ro-bg-dim);
  }

  .ro-bg-light {
    background-color: var(--ro-text-light);
  }

  .ro-bg-secondary {
    background-color: var(--ro-bg-secondary);
  }

  .ro-bg-muted-40 {
    background-color: color-mix(in srgb, var(--ro-bg-muted) 40%, transparent);
  }

  .ro-bg-main-60 {
    background-color: color-mix(in srgb, var(--ro-bg-main) 60%, transparent);
  }

  .ro-bg-success {
    background-color: var(--ro-success);
  }

  .ro-bg-error {
    background-color: var(--ro-error);
  }

  .ro-bg-warning {
    background-color: var(--ro-warning);
  }

  .ro-bg-info {
    background-color: var(--ro-info);
  }
  .ro-bg-info-10 {
    background-color: var(--ro-info) / 10;
  }
}
