@layer utilities {
  .ro-text-main {
    color: var(--ro-text-main);
  }

  .ro-text-dim {
    color: var(--ro-text-dim);
  }

  .ro-text-muted {
    color: var(--ro-text-muted);
  }

  /* Ex: placeholder:ro-text-muted  */
  .placeholder\:ro-text-muted::placeholder {
    color: var(--ro-text-muted);
  }

  .ro-text-light {
    color: var(--ro-text-light);
  }

  .ro-text-dark {
    color: var(--ro-text-dark);
  }

  .ro-text-success {
    color: var(--ro-success);
  }

  .ro-text-success-dark {
    color: var(--ro-success-dark);
  }

  .ro-text-error {
    color: var(--ro-error);
  }

  .ro-text-error-dark {
    color: var(--ro-error-dark);
  }

  .ro-text-warning {
    color: var(--ro-warning);
  }

  .ro-text-warning-dark {
    color: var(--ro-warning-dark);
  }

  .ro-text-info-dark {
    color: var(--ro-info-dark);
  }

  .ro-text-info {
    color: var(--ro-info);
  }
}
