:root {
  /* === Custom Colors === */
  --ro-zinc-750: #333338;

  /* === Backgrounds === */
  --ro-bg-main: var(--color-zinc-300);
  --ro-bg-dim: var(--color-zinc-200);
  --ro-bg-muted: var(--color-zinc-100);
  --ro-bg-middle: var(--color-zinc-500);

  /* === Text === */
  --ro-text-main: var(--color-zinc-800);
  --ro-text-dim: var(--color-zinc-500);
  --ro-text-muted: var(--color-gray-400);
  --ro-text-light: var(--color-zinc-200);
  --ro-text-dark: var(--color-zinc-800);

  /* === Borders === */
  --ro-border: var(--color-zinc-300);
  --ro-border-light: var(--color-zinc-200);

  /* === Semantic Tokens === */
  --ro-success: #61e294;
  --ro-success-text: var(--color-emerald-900);

  --ro-error: #fe654f;
  --ro-error-text: var(--color-rose-900);

  --ro-warning: #ffcf56;
  --ro-warning-text: var(--color-amber-900);

  --ro-info: var(--color-blue-300);
  --ro-info-text: var(--color-sky-900);
}

:root[data-theme='dark'] {
  /* === Backgrounds === */
  --ro-bg-main: var(--color-zinc-900);
  --ro-bg-dim: var(--color-zinc-800);
  --ro-bg-muted: var(--ro-zinc-750);
  --ro-bg-middle: var(--color-zinc-600);

  /* === Text === */
  --ro-text-main: var(--color-zinc-300);
  --ro-text-dim: var(--color-zinc-400);
  --ro-text-muted: var(--color-zinc-500);

  /* === Borders === */
  --ro-border: var(--color-zinc-600);
  --ro-border-light: var(--ro-zinc-750);
}
